# spellchecker
bs4
#symspellpy
docling
utils
transformers
#flash_attn --no-build-isolation
#faiss-cpu
langchain_community
langchain_docling
fastapi
torch
uvicorn==0.15.0
dotenv
html2text
pandas
pydantic==2.10.6
python-dotenv==0.19.0
retrieve
python-multipart==0.0.5
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4

# transformers>=4.36.0
# accelerate>=0.25.0
# bitsandbytes>=0.41.0
# sentencepiece>=0.1.99
# protobuf>=3.20.0