spellchecker
bs4
huggingface_hub
language_tool_python
symspellpy
docling
utils
transformers
#flash_attn --no-build-isolation
faiss-cpu
lancedb
langchain_community
langchain_docling
langchain_huggingface
langchain_milvus
fastapi
torch
uvicorn
dotenv
html2text
pandas
pydantic
python-dotenv>=0.19.0 
retrieve

torch>=2.0.0
transformers>=4.36.0
accelerate>=0.25.0
bitsandbytes>=0.41.0
sentencepiece>=0.1.99
protobuf>=3.20.0 


